.profile-form {
  padding: 0px 10px 10px;
  .banner {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -40px;
    &:hover {
      cursor: pointer;
    }
    svg {
      width: 30px;
      fill: $font-light;
    }
  }
  .avatar {
    position: relative;
    top: -20px;
    left: 20px;
    width: 120px;
    height: 120px;
    border: 4px solid $border-dark;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    svg {
      width: 15px;
      fill: $font-light;
    }
  }
  .form-group {
    padding-bottom: 5px;
  }

  input, textarea {
    font-size: 18px;
    background-color: $background-dark-light!important;
    border-radius: 0!important;
    border: 0!important;
    border-bottom: 1px solid $border-grey!important;
    color: $font-light!important;
    &:focus {
      background-color: $background-dark-light!important;
      box-shadow: none!important;
      border-bottom: 1px solid $border-primary!important;
    }
  }

  button {
    font-size: 16px;
    border-radius: 50px;
    .spinner-border {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
  height: 38px;
  .react-datepicker__input-container {
    height: 100%;
    input {
      background-color: $background-dark-light;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $border-grey;
      color: $font-light!important;
      width: 100%;
      padding: 8px 12px 5px;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $background-dark-light;
}

::-webkit-scrollbar-thumb {
  background: $primary-dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $border-grey;
}
